body{
  width: 1400px;
  height: auto;
  background-color: rgb(221, 221, 218);
}

.header {
  padding-left: 100px;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #4badb8;
}


.navbar {
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

a{
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  color: white;
  background-color: rgb(28, 19, 80);
}

.logo {
  width: 18%;
  height: 100%;
  margin: -25;
  background-color: rgb(28, 19, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.main-container {
  margin: 30px;
  /* padding-left: 50px; */
  width: 100%;
  height: auto;
  border: 5px solid black;
  background-color: rgb(153, 142, 142);
  display: flex;
  align-items: center;
  /* line-height: 2.0;
  font-size: small; */
}

h2 {
  margin-top: 40px;
}

article {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 80%;
  font-size: medium;
  line-height: 2.0;
  font-size: small;
}




footer{
  width: 100%;
  height: 15%;
  background-color: #4badb8;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 50% 50%;
}

.copyright {
  color: white;
  display: flex;
}

.social-media {
  display: grid;
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
}

.twitter {
  margin-bottom: 20px;
  width: 40px;
}

.facebook {
  margin-bottom: 20px;
  width: 40px;

}

.google-plus {
  margin-bottom: 20px;
  width: 40px;
}

.pinterest {
  margin-bottom: 20px;
  width: 40px;
}


/* @media (max-width: 768px) {


} */