body{
  width: 1400px;
  height: auto;
  background-color: rgb(221, 221, 218);
}

.header {
  padding-left: 100px;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #4badb8;
}


.navbar {
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

a{
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  color: white;
  background-color: rgb(28, 19, 80);
}

.logo {
  width: 18%;
  height: 100%;
  margin: -25;
  background-color: rgb(28, 19, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-rows: 30% 30% 40%;
  background-color: rgb(221, 221, 218);

}

p {
  line-height: 2.0;
  font-size: small;
}


.first {
  display: grid;
  grid-row: 1/2;
  display: flex;
  border: 2px solid #5fb3bd;
  background-color: white;
}

.main-image {
  display: block;
  padding-right: 10px;
  
}

.headline {
  display: block;
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-size: xx-large;
  color: rgb(28, 19, 80);
  
}

.second {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: grid;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;

}

.pic-a{
  display: block;
  height: auto;


}

.haircut1 {
  display: block;
  height: fit-content;
  border: 2px solid #5fb3bd;
}

.haircut2 {
  display: block;
  height: fit-content;
  border: 2px solid #5fb3bd;
}

.haircut3 {
  display: block;
  height: fit-content;
  border: 2px solid #5fb3bd;
}

.haircut4 {
  display: block;
  height: fit-content;
  border: 2px solid #5fb3bd;
}

.third {
  margin-top: 50px;
  display: grid;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
}

.left-column {
  margin: 15px;
  background-color: white;
  border: 5px solid #5fb3bd;
  width: 50%;
  height: auto;
}

.logo-featured {
  background-color: rgb(28, 19, 80);
  color: white;
  margin-top: -10px;
  /* margin-left: 10px; */
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pic-featured {
  display: flex;
  flex-direction: row;
}

.featured-hair {
  padding-left: 10%;
  padding-top: 10%;
  font-weight: bolder;
  font-size: 20px;
}

.text-featured {
  padding: 20px;
  line-height: 2.0;
  font-size: small;

}

.right-column {
  margin: 15px;
  padding-right: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-upper {
  height: 45%;
  background-color: #3398a3;
  border: 5px solid #5fb3bd;
  color: white;
}

.logo-hairstyle{
  background-color: rgb(28, 19, 80);
  color: white;
  margin-top: -10px;
  margin-left: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-rightUpper {
  padding: 10px;
  font-size: medium;
  line-height: 2.0;
  font-size: small;
}

.mikeM {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.right-lower {
  margin-top: 20px;
  height: 35%;
  width: 100%;
  background-color: #3398a3;
  border: 5px solid #5fb3bd;
  display: flex;
  flex-direction: row;

}

.text-right-lower {
  padding-left: 20%;
  display: block;
  color: white;
  font-size: large;
  display: flex;
  align-items: center;
  line-height: 2.0;
}

.skin-head {
  margin: -20;
}


footer{
  width: 100%;
  height: 15%;
  background-color: #4badb8;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 50% 50%;
}

.copyright {
  color: white;
  display: flex;
}

.social-media {
  display: grid;
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
}

.twitter {
  margin-bottom: 20px;
  width: 40px;
}

.facebook {
  margin-bottom: 20px;
  width: 40px;

}

.google-plus {
  margin-bottom: 20px;
  width: 40px;
}

.pinterest {
  margin-bottom: 20px;
  width: 40px;
}


@media (max-width: 768px) {
  body {
    height: 100%;

  }

  .container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 25% 40% 25% 10%;
    background-color: rgb(221, 221, 218);
  }

    .first {
      width: 75%;
      grid-row: 1/2;
      /* display: flex; */
      border: 2px solid #5fb3bd;
      background-color: white;
    }

    .second {
      grid-row: 2/3;
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 33% 33% 34%;
      
    }

    .pic-a {
      /* align-items: center;
      justify-content: center; */
      grid-row: 1/2;
      grid-column: 1/2;
    }

    .pic-b {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    .pic-c {
      grid-row: 2/3;
      grid-column: 1/2;

    }

    .pic-d {
      grid-row: 2/3;
      grid-column: 2/3;
    }

    .third {
      grid-row: 3/4;
      display: flex;
      flex-direction: column;
    }

    footer {
      background-color: rgb(221, 221, 218);
    }




  
}