/* body {
} */

.header {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: rgba(40, 79, 207, 0.692)
}

/* h1 {
  display: grid;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

} */

.navbar {
  width: 75%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around;
  padding-bottom: 30px;
}

nav{
  height: 80%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  font-style: oblique;
}

.logo {
  width: 25%;
  border: 5px solid white;
  height: 100%;
  margin: -25;
  background-color: darkgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 27% 29% 44%;
  background-color: rgb(179, 173, 173);

}

/* section{

} */

.first {
  height: 100%;
  display: grid;
  grid-row: 1/2;
  display: flex;
  
}

.main-image {
  border: 2px solid black;
  width: 50%;
  height: 100%;
}

.headline {
  display: block;
  display: flex;
  align-items: center;
  padding-left: 10%;
  
}

.second {
  width: 100%;
  display: grid;
  grid-row: 2/3;
  border: 2px solid black;
  grid-template-areas:
  'left . center . middle . right'
  'left . center . middle . right'
  'left . center . middle . right';

}

.third {
  display: grid;
  grid-row: 3/4;
  grid-template-areas:
  'left-column left-column right-upper right-upper'
  'left-column left-column right-upper right-upper'
  'left-column left-column . .'
  'left-column left-column right-lower right-lower'
  'left-column left-column right-lower right-lower'


}

/* .section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

figure {
  width: 100%;
  border: 5px solid rgb(85, 4, 4);
}

.left-column {
  grid-area: left-column;
  border: 5px solid black;
}

.right-upper {
  grid-area: right-upper;
  border: 5px solid blue;
}

.right-lower {
  grid-area: right-lower;
  border: 5px solid red;
}

.pic-a { grid-area: left;}

.pic-b { grid-area: center;}

.pic-c { grid-area: middle;}

.pic-d { grid-area: right;}

footer{
  width: 100%;
  height: 15%;
  background-color: green;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 33% 34% 33%;
}

.social-media {
  display: grid;
  grid-row: 2/3;
  grid-column: 3/4;
  width: 50%;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
}

.twitter {
  /* display: flex;; */
  width: 25%;
  border: 2px solid white;
  background-image: url(./barberShopImages/twitter-logo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.facebook {
  /* display: flex; */
  width: 25%;
  border: 2px solid white;
  background-image: url(./barberShopImages/logo-facebook.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

.google-plus {
  /* display: flex; */
  width: 25%;
  border: 2px solid white;
  background-image: url(./barberShopImages/google+-logo.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;

}

.pinterest {
  width: 25%;
  border: 2px solid white;
  background-image: url(./barberShopImages/Pinterest-Logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}