body{
  width: 1400px;
  height: auto;
  background-color: rgb(221, 221, 218);
}

.header {
  padding-left: 100px;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #4badb8;
}


.navbar {
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

a{
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  color: white;
  background-color: rgb(28, 19, 80);
}

.logo {
  width: 18%;
  height: 100%;
  margin: -25;
  background-color: rgb(28, 19, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;

}

.left-column {
  grid-column: 1/2;
  padding-right: 10%;
  line-height: 2.0;
  font-size: small;
}

.right-column {
  grid-column: 2/3;
  margin: 15px;
  background-color: white;
  border: 5px solid #5fb3bd;
  height: auto;
  line-height: 2.0;
  font-size: small;

}

.recent-news {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-column {
  margin: 10px;
}

  





footer{
  width: 100%;
  height: 15%;
  background-color: #4badb8;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 50% 50%;
}

.copyright {
  color: white;
  display: flex;
}

.social-media {
  display: grid;
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
}

.twitter {
  margin-bottom: 20px;
  width: 40px;
}

.facebook {
  margin-bottom: 20px;
  width: 40px;

}

.google-plus {
  margin-bottom: 20px;
  width: 40px;
}

.pinterest {
  margin-bottom: 20px;
  width: 40px;
}


@media (max-width: 768px) {
 
 .container {
    display: flex;
    flex-direction: column;
}

.left-column {
  /* grid-row: 1/2; */
  line-height: 2.0;
  font-size: small;
}

.right-column {
  /* grid-row: 2/3; */
  background-color: white;
  border: 5px solid #5fb3bd;
  line-height: 2.0;
  font-size: small;

}


}